version: '3.8'

services:
  # DNS Server (dnsmasq)
  dns-server:
    image: strm/dnsmasq:latest
    container_name: dns-server
    ports:
      - "53:53/udp"
      - "53:53/tcp"
    networks:
      vpn-dns:
        ipv4_address: 10.3.0.2
    volumes:
      - ./dnsmasq.conf:/etc/dnsmasq.conf:ro
    command: dnsmasq --no-daemon --log-queries

  # VPN Server with DNS Push
  vpn-server-dns:
    image: kylemanna/openvpn:latest
    container_name: vpn-server-dns
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    ports:
      - "1196:1194/udp"
    volumes:
      - ../../../../../openvpn-dns:/etc/openvpn
    networks:
      vpn-dns:
        ipv4_address: 10.3.0.1
    command: >
      sh -c "
        if [ ! -f /etc/openvpn/pki/ca.crt ]; then
          echo '⚠️  PKI not found - generating...'
          ovpn_genconfig -u udp://vpn-server-dns -N -d -s 10.3.0.0/24
          EASYRSA_BATCH=1 ovpn_initpki nopass
        fi
        openvpn --config /etc/openvpn/server.conf
      "
    environment:
      - OVPN_SERVER_URL=udp://vpn-server-dns:1194
    depends_on:
      - dns-server

  # HTTP Server on DNS VPN Network
  http-server-dns:
    image: nginx:alpine
    container_name: http-server-dns
    ports:
      - "8082:80"
    networks:
      vpn-dns:
        ipv4_address: 10.3.0.10
    volumes:
      - ../../../../../http-dns:/usr/share/nginx/html:ro
    command: nginx -g 'daemon off;'

networks:
  vpn-dns:
    driver: bridge
    ipam:
      config:
        - subnet: 10.3.0.0/24

