services:
  http_uk:
    image: nginx:1.25-alpine
    container_name: http-server-uk
    volumes:
      - ../http-uk:/usr/share/nginx/html:ro
    networks:
      vpn_bridge:
        ipv4_address: 198.18.1.100

  http_fr:
    image: nginx:1.25-alpine
    container_name: http-server-fr
    volumes:
      - ../http-fr:/usr/share/nginx/html:ro
    networks:
      vpn_bridge_fr:
        ipv4_address: 198.18.2.100

  openvpn_uk:
    build:
      context: ../../../../../docker/openvpn-test-server
    container_name: vpn-server-uk
    privileged: true
    cap_add:
      - NET_ADMIN
    sysctls:
      net.ipv4.ip_forward: "1"
      net.ipv4.conf.all.rp_filter: "0"
      net.ipv4.conf.default.rp_filter: "0"
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - "1194:1194/udp"
    volumes:
      - ../openvpn/pki:/etc/openvpn/pki:ro
      - ../openvpn/auth:/etc/openvpn/auth:ro
      - ../openvpn/uk/server.conf:/etc/openvpn/server.conf:ro
      - ../openvpn/uk/ipp.txt:/etc/openvpn/ipp.txt
      - ../openvpn/uk/ccd:/etc/openvpn/ccd
    networks:
      vpn_bridge:
        ipv4_address: 198.18.1.2
      shared_backend:
    depends_on:
      - http_uk

  openvpn_fr:
    build:
      context: ../../../../../docker/openvpn-test-server
    container_name: vpn-server-fr
    privileged: true
    cap_add:
      - NET_ADMIN
    sysctls:
      net.ipv4.ip_forward: "1"
      net.ipv4.conf.all.rp_filter: "0"
      net.ipv4.conf.default.rp_filter: "0"
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - "1195:1195/udp"
    volumes:
      - ../openvpn/pki:/etc/openvpn/pki:ro
      - ../openvpn/auth:/etc/openvpn/auth:ro
      - ../openvpn/fr/server.conf:/etc/openvpn/server.conf:ro
      - ../openvpn/fr/ipp.txt:/etc/openvpn/ipp.txt
      - ../openvpn/fr/ccd:/etc/openvpn/ccd
    networks:
      vpn_bridge_fr:
        ipv4_address: 198.18.2.2
      shared_backend:
    depends_on:
      - http_fr

networks:
  vpn_bridge:
    driver: bridge
    ipam:
      config:
        - subnet: 198.18.1.0/24
  vpn_bridge_fr:
    driver: bridge
    ipam:
      config:
        - subnet: 198.18.2.0/24
  shared_backend:
    driver: bridge
